html,
body {
    height: 100%;
    max-width: 1440px;
    margin: auto;
}

.store-carousel {
    max-height: 45vh;
}

.store-content {
    padding-top: 10vh;
    min-height: calc(100% - 201px);
}

.dark-section {
    color: #303033;
    background-color: black;
}

.gray-section {
    background-color: #151516;
}

.light-gray-section {
    background-color: #edf0f5;
}

.dark-section .navbar-light .navbar-nav .nav-link {
    color: white;
}

.item-container {
    min-height: 55vh;
    height: auto;
    white-space: nowrap;
}

.fixed-top-2 {
    margin-top: 8vh;
}

.triangle {
    width: 250px;
    height: 250px;
    position: relative;
    background-color: grey;
}

.corner {
    width: 0;
    height: 0;
    border-top: 35px solid #ffcc00;
    border-bottom: 130px solid transparent;
    border-left: 35px solid transparent;
    position: absolute;
    right: 20px;
}

.Coming-Soon-corner {
    border-top: 35px solid #0A7BB1;
}

.Low-Stock-corner {
    border-top: 35px solid #C72221;
}

.In-Stock-corner {

    border-top: 35px solid #ECA000;

}

.Pre-Order-corner {
    border-top: 35px solid #2C9D17;
}

.Out-Of-Stock-corner {
    border-top: 35px solid #A5ACB7;
}


.corner span {
    position: absolute;
    top: -30px;
    width: 100px;
    left: -60px;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    transform: rotate(45deg);
    display: block;
}

.triangle-topright {
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-left: 100px solid transparent;
}

.list-unstyled {
    text-align: left;
}

.card-body.info {
    padding: 1rem 0.5rem;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect card-body {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 10px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 150px 0 0;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover card-body {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.product-modal {
    top: 5vh;
}

.product-item-header {
    padding: 0;
    margin: 0;
}

.product-container {
    display: flex;
}

.product-item {
    margin: 0.5rem -4px 0.5rem auto;
    align-self: auto;
    float: none;
}

.product-modal h5 {
    font-size: 32px;
    font-weight: bold;
}

.product-modal .actions {
    display: flex;
    padding-top: 20px;
    padding-bottom: 0;
}

.product-modal .actions > button {
    margin-right: 10px;
    width: 180px;
    border-radius: 0;
    padding: 10px 0;
}

.product-modal .actions > form > button {
    margin-right: 10px;
    width: 115px;
    border-radius: 0;
    padding: 10px 0;
}


.product-modal .actions > .btn-secondary {
    border: 0;
    border-radius: 0;
    padding: 5px 0;
    width: 60px;
    text-align: center;
}

.product-modal .actions > form > .btn-secondary {
    border: 0;
    border-radius: 0;
    padding: 5px 0;
    width: 60px;
    text-align: center;
}

.product-modal .actions > button:last-child {
    margin-right: 0;
}

.product-modal label {
    margin-bottom: 0;
}

.desc {
    font-size: 14px;
    margin-bottom: 20px;
}

.details-container {
    display: flex;
    background: #f0f3f7;
    padding: 5px 10px;
    align-items: center;
}

.details-container > div {
    width: 50%;
}

.details-container .price {
    font-weight: bold;
}

.details-container .price > span {
    display: block;
}

.details-container .price h3 {
    display: inline-block;
    font-size: 42px;
    margin-right: 10px;
    margin-bottom: 0;
}

.details-container .price .prev-amt {
    display: inline-block;
    text-decoration: line-through;
}

.details-container .price-actions {
    display: flex;
}

.details-container .price-actions button {
    height: 35px;
    border-radius: 0;
    border: 2px solid #ced4da;
    background: #fff !important;
    opacity: 1 !important;
    line-height: 1;
}

.details-container .price-actions .item-quantity {
    height: 35px;
    border-radius: 0;
    border: 2px solid #ced4da;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

.release-date {
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    margin-top: 5px;
}

.release-date .fa {
    color: #9d1716;
}

.tab-content {
    overflow-wrap: break-word;
    max-height: 10rem;
    overflow-y: auto;
}

.tab-content {
    background: #edf0f5;
    padding: 10px 10px;
}

.nav-tabs .nav-item.active {
    background: #edf0f5;
    border-color: #edf0f5;
}

.thumb-nails img.img-fluid {
    height: 5em;
}

.main-img {
    width: 100%;
}

button.close {
    background-color: #666;
    color: white;
}

.icon-close {
    position: absolute;
    color: white;
    z-index: 9;
    background: #666;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: -16px;
    right: -16px;
    opacity: 1;
}

.icon-close .fa {
    margin-bottom: 3px;
}

.details-container {
}

.item-quantity {
    max-width: 40px;
}

/* spacing */
.mx-6 {
    margin-left: 6rem !important;
    margin-right: 6rem !important;
}

.social-media-icons .nav-link:hover {
    color: #fff800 !important;
}

.navbar-nav .heart-badge {
    position: relative;
    background-color: #6c757d;
}

.navbar-nav .heart-badge .badge {
    position: absolute;
    bottom: 0;
    right: 0;
}

.navbar-nav .cart-badge {
    position: relative;
    background-color: #fff800;
    color: #000000 !important;
}

.navbar-nav .cart-badge .badge {
    position: absolute;
    bottom: 0;
    right: 0;
}

.navbar-nav.nav-buttons .nav-item {
    border-left: 2px solid;
    padding: 0 2em;
}

@media only screen and (max-width: 991px) {
    .navbar .mx-6 {
        margin: 0 !important;
    }
}

#navbarSupportedContent {
    flex-grow: 0;
}

/* login dropdown form */
.navbar .navbar-form {
    border: none;
}

.navbar .navbar-form-wrapper {
    padding: 0 15px;
}

.navbar .login-form label {
    color: #888;
    font-weight: normal;
}

.navbar .dropdown-menu.login-form {
    width: 325px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}

.navbar .navbar-nav .dropdown-menu.login-form a {
    padding: 0 !important;
    color: #5c6ac4;
    font-weight: normal;
}

.navbar .navbar-nav .dropdown-menu.login-form a:hover {
    text-decoration: underline;
}

.navbar .dropdown-menu.login-form .checkbox-inline {
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .navbar .dropdown-menu.login-form {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }

    .navbar .form-inline {
        display: block;
    }

    .navbar .input-group {
        width: 100%;
    }

    .navbar .navbar-nav .btn-primary,
    .navbar .navbar-nav .btn-primary:active {
        display: block;
    }
}

#wrapper-footer {
}

.product-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
}

.product-type {
    padding: 5px;
}

.Pre-Order {
    background-color: #2C9D17;
}

.Low-Stock {
    background-color: #C72221;
}

.Coming-Soon {
    background-color: #0A7BB1;
}

.Out-Of-Stock {
    background-color: #A5ACB7;

}

.In-Stock {
    background-color: #ECA000;

}

.tab-content.payment {
    min-height: 50vh;
    max-height: 65vh;

}

.tab-content.item {
    min-height: 100px;
    max-height: 100px;
}

.header-cart-item-img {
    width: 80px;
    position: relative;
    margin-right: 20px;
}

.header-cart {
    position: absolute;
    z-index: 1100;
    width: 339px;
    top: 190%;
    right: -10px;
    padding: 20px;
    border-top: 3px solid #e6e6e6;
    background-color: white;
}

.header-cart-wrapitem {
    max-height: 270px;
    overflow: auto;
}

.header-cart-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;

}

.header-cart-item-img {
    width: 80px;
    position: relative;
    margin-right: 20px;
}

.header-cart-item-txt {
    width: calc(100% - 100px);
}

.product-body {
    height: 15em;
}

.carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
}

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
}


.owl-carousel .item {
    text-align: center;
}

.owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide {
    background: url(nav-icon.png) no-repeat scroll 0 0;
    left: -33px;
}

.owl-carousel .next-slide {
    background: url(nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
}

.owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}

span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
}

span.img-text:hover {
    color: #2caae1;
}

.card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

.cart-img-product {
    height: 300px;
    width: 250px;
}

.cart-img {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 980px

    }
}
